/*Flex Grid*/
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
/*Flex Tower*/
.flex-tower {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

/*Scalable Vector Graphics*/
svg {
  width: 600px;
  height: 120px;
}

path {
  stroke: #00FFCC;
  stroke-width: 3px;
  stroke-linecap: round;
  fill: none;
}





* {
  box-sizing: border-box;
}
body {
  padding: 20px;
  color: #FFF;
  background-color: #000;
}
.flex-grid, .flex-tower {
  margin: 0 0 0 0;
}
.col {
  padding: 20px;
}

header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  color: #00FFCC;
  text-align: center;
}
header h1 a{
text-decoration: none;
}

h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  color: #00FFCC;
  text-align: center;
}

a:link {color: #00FFCC}
a:visited {color: #00FFCC}
a:hover {color: #FFF}
a:active {color: #FFF}

#navigation {
  background-color: #000;
}
#navigation a {
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  text-decoration: none;
}
#navigation a:link {color: #00FFCC}
#navigation a:visited {color: #00FFCC}
#navigation a:hover {color: #FFF}
#navigation a:active {color: #FFF}

#album {
  background-color: #000;
  align-items:center;
}
#album-art {
  background-color: #00FFCC;
  width: 500px;
  height: 500px;
  border: red 2px;
}
#album-artist {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #000;
  text-align: center;
}
#album-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: #000;
  text-align: center;
}

.spotify-btn {
  align-items:center;
  font-family: 'Permanent Marker', cursive;
    color: #000;
    margin: 20px;
}
.spotify-btn a{
  background-color: #00FFCC;
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
}

.spotify-btn a:link{
color: #000;
}
.spotify-btn a:visited{
color: #000;
}
.spotify-btn a:hover{
color: #000;
}
.spotify-btn a:active{
color: #000;
}

#about {
  font-family: 'Permanent Marker', cursive;
  font-size:30px;
  margin: 30px;
  color: #00FFCC;
}
#tour {

}
.tourDate {
  font-family: Roboto, monospace;
  font-size: 16px;
  margin: 30px;
  color: #00FFCC;
}
.tourDate > img {
  height: 3em;
}
.tourDate > a{
  color: #00FFCC;
  font-family: 'Permanent Marker', cursive;
  padding: 10px;
  text-decoration: none;
  border: solid 1px #00FFCC;
}


#videos {
}
#contact {
  font-family: Roboto, monospace;
  font-size:30px;
  margin: 30px;
  color: #00FFCC;
}
#subscribe {
}

/*

color: #00FFCC;
background-color: #D699FF;
font-family: 'Permanent Marker', cursive;

*/
